<footer class="container-fluid py-4">
    <div class="row" id="footer-inter">

        <div class="col-6 col-md copy">
            <p>&copy; 2022 Desenvolvidor por <a href="https://williamdev.com.br/" target="_blank"> williamdev </a> </p>
        </div>
        <div class="col-6 col-md icones" >
            <a href="https://williamdev.com.br/" target="_blank">
                <i [ngStyle]="{'color':'#fff'}" class="bi bi-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/william_devs/" target="_blank">
                <i [ngStyle]="{'color':'#fff'}" class="bi bi-instagram"></i>
               
            </a>
            <a href="https://www.instagram.com/william_devs/" target="_blank">
                <i [ngStyle]="{'color':'#fff'}" class="bi bi-whatsapp"></i>
               
            </a>
         </div>
    </div>
</footer>