<div class="container p-5">
    <div class="row p-5">
        <div class="col-md-6">
            <form>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email">
                </div>
               
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <div class="col-md-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14623.796353006588!2d-46.755066823001094!3d-23.606158766287866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5422afeb8703%3A0xe5a32ed59b673a6a!2sPra%C3%A7a%20N%C3%ADcola%20Vivilechio%2C%20Tabo%C3%A3o%20da%20Serra%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1661029965734!5m2!1spt-BR!2sbr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>