<div class="container-fluid">
  <div class="row align-items-md-stretch p-5">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white rounded-3" style="background-color: #4075bf;">
        <img src="../../../assets/image/banner2.jpg"  alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Sobre Nós</h2>
        <p>Somo um a empresa fundada em 2022, com a missão de transformar pequenas empresas em grandes negócios, atras da internet, hoje temos o prazer de ser líder no mercado graças as tecnologias inovadoras que sempre buscamos para trabalhar com nossos clientes</p>
        <p>Com esse pensamento positivo também temos o prazer de fazer parte de uma grande comunidade de desenvolvedores iniciantes, sempre abraçando novos talentos e formando novos desenvolvedores.
        </p>
        <a href="https://api.whatsapp.com/send?phone=5511948997117" target="_blank"><button type="button" class="btn ">Entre em contato</button></a>
      </div>
    </div>
   
  </div>
</div>


  <div class="container">
    <p>Praça Nícola VivilechioTaboão da Serra - SP  (11)9-4899-7117</p>
</div>