
/* Banner */
.banner{
    background-color: rgba(0, 0, 0, 0.404);
    background-image: url('../../../assets/image/banner3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height:600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
}


.text-banner{
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text h1{
    color: #fff;
    text-shadow: 2px 2px 3px black;
    font-size: 3rem;
    font-weight: bold; 
}

.btns{
    display: flex;
    gap: 10px;
    
}

.btns .btn{
    background-color:green;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 15px;
}


/* Cards */

.container h2{
    font-size: 2rem;
}
.container h3{
    font-size: 1rem;
}

.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   margin: 15px;
    
}

.card h2{
    font-size:22px;
    color: #000;
    font-weight: bold;
}

.card p {
    font-size: 15px;
    
}

.card img{
    width: 200px;
    object-fit: cover;
   
}
.card span{
    font-weight: bold;
    color: red;
    
}




.card{
    transition: transform .5s;
    border: none;
   
}
.card:hover{
    
    transform: scale(1.2);
     outline: none
}




/* iframe */
iframe{
    width: 100%;
    height: 500px;
    overflow: hidden;
}



/* ------------------ Responsividade------------------------------ */

@media (max-width:740px){

   .banner{
    display: none;
   }
   .card{
    margin: auto;
    padding: 40px;
   }
   .linha{
    display: none;
   }
   
}